<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.fic.epub.test"
	version 	= "0.5.0">

	<name>FIC ePub Test</name>

	<description>
		This is a test
	</description>

	<author href="http://www.fic.engr.utexas.edu"
		email="rutegger@gmail.com">
		Andrew Lunny
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
